
{{!-- Delete if no home card exists --}}

{{!-- Use this card only if item-card is different --}}

{{!-- 
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//replace text with variables:      {{name}} (check create.hbs for shape)
//copy shape here from create.hbs:
//name
//years
//kind
//image
//need
//location
//description


--}}

{{!--or div here--}}

<img src="{{image}}">
<p>Name: {{name}}</p>
<p>Need of: {{need}}</p>
<a class="details-btn" href="/items/{{_id}}/details">Details</a>

