
{{!-- Ctrl+Shift+F
Use: Ctrl+Shift+F
--}}


{{!-- 
//main: if_error_hb, if_main_hb,
//copy/paste the main or the section html here:

//1.add "body" before footer:             {{{body}}}                         
//2.replace "href" link into the html:    href="/static/css/styles.css"      *
//2.1.remove "." in "<img>" "href" link:
//3.copy/paste a "error" div" comment:    hb_error_if
//4.add user/guest view:                  hb_main_if
//5.fix the <title></title>:
//6.variable:                            {{user.email}}
//7.for any image path use /static:      src="/static/images/logo.png"

//add href everywhere: "/" "/items/dashboard" "/items/create" "/auth/login" "/auth/register" "/auth/logout"
//add href "search" or "profile" if they exists: "/items/search" "/items/profile"
//--}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css" />{{!--?--}}
    <title>Earth Treasure Vault</title>
</head>

<body>
    <!-- <div>
        <div class="errorContainer">
            <p>Error</p>
        </div>
    </div> -->
     {{#if error}}
     <div>
         <div class="errorContainer"><!--!-->
             <p>{{error}}</p>
         </div>
     </div>
     {{/if}}

    <div id="wrapper">
        <header>
            <nav>
            <!--For all users: Home,Dashboard,Search-->
            <!--!-->
            <!--!-->
            <!--!-->
            <div>
                <a href="/">Home</a>
                <a href="/stones/dashboard">Dashboard</a>
                <a href="/stones/search">Search</a>
            </div>
            {{#if user}}
            <!--For logged users: Add,Logout-->
            <!--!-->
            <!--!-->
            <div class="user">
                <a href="/stones/create">Add Stones</a>
                <a href="/auth/logout">Logout</a>
            </div>
            {{else}}
            <!--For guest user: Login,Register-->
            <!--!-->
            <!--!-->
            <div class="guest">
                <a href="/auth/login">Login</a>
                <a href="/auth/register">Register</a>
            </div>
            {{/if}}
            </nav>
        </header>
        {{{body}}}
        <footer>
            <p>@EarthTreasureVaul</p>
        </footer>
    </div>
</body>
</html>
