




{{!-- 
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//replace text with variables:      {{name}} (check create.hbs for shape)
//copy shape here from create.hbs:
name 
type
damages 
image 
description 
production
exploitation 
price 


--}}

<a href="/items/{{_id}}/details" class="added-electronics-in-market">
    <img src="{{image}}" class="picture-added-electronics">
    <h3>{{name}}</h3>
    <span>Price: ${{price}}</span>
</a>




