



{{!-- Use this card only if item-card is different --}}

{{!-- 
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//Add likes count:                  {{likesCount}}
//replace text with variables:      {{name}}
//copy shape here from create.hbs:
    //title
    //type
    //certificate
    //image
    //description
    //price

--}}





{{!--//Example1--}}
{{!--//Delete later--}}
<div class="my-card">
    <div class="card-header">
        <img src="{{image}}" />
    </div>

    <div class="card-body">
        <span class="tag tag-teal">Species: {{species}}</span>
        <h4>
            Name: {{name}}
        </h4>
        <div class="user">
            <div class="user-info">
                <h5>Author: {{user}}</h5>
                <small>Rating of votes: {{likesCount}}</small>
                <a href="/items/{{_id}}/details" class="details_btn">Details</a>

            </div>
        </div>
    </div>

</div>