



{{!-- Use this card only if item-card is different --}}

{{!-- Ctrl+Shift+F
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//replace text with variables:      {{name}} (check create.hbs for shape)
//copy shape here from create.hbs:
//headline
//location
//companyName
//companyDescription


--}}

<article class="search-page-result">
    <p class="search-page-result-headline">Headline: {{headline}}</p>
    <p class="search-page-result-companyName">Company Name: {{companyName}}</p>
</article>
