




{{!-- Ctrl+Shift+F
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//replace text with variables:      {{name}} (check create.hbs for shape)
//copy shape here from create.hbs:
//name 
//image 
//age 
//description
//location
--}}

<div class="card">

<div class="top">
    <div class="userDetails">
        {{!-- TODO: user details!!! --}}

        <!-- Link to User Profile Page -->
        <a href="#" action="#" method="#">
            <div class="profilepic">
                <div class="profile_img">
                    <div class="image">
                        <img src="/static/images/person.png">
                    </div>
                </div>
            </div>
        </a>
        <h3>
            <!-- Link to User Profile Page -->
            <p>
                <!-- show user username -->
                {{owner.username}}
            </p>
            <!-- photo's location -->
            <span>{{location}}</span>
        </h3>
    </div>
</div>

<!-- Start Pet Photo -->
<div class="imgBx">
    <img src="{{image}}" alt="post" class="cover">
</div>

<h5 class="petName">Name: {{name}}</h5>

<h5 class="petAge">Age: {{age}}</h5>

{{!-- TODO: link to details page --}}
<a href="/photos/{{_id}}/details" id="see-details">
    <h4 class="details">See details</h4>
</a>
</div>