

{{!-- 
//details: details_hbs, if_if_else
//copy/paste the main or the section html here:

//fix href="#" :                      href="/items/{{_id}}/edit"
//fix href="#" :                      href="/items/{{_id}}/delete"
//fix href="#" :                      href="/items/{{_id}}/like"
//replace src with image shape:       src="{{image}}"
//Add likes count:                    {{likesCount}}
//Add the postOwner email:            {{postOwner.email}}
//Add the postOwner username:         {{postOwner.username}}

//Add [] likedUsersUsernames          {{likedUsersUsernameString}}
//Add [] likedUsersIds                {{likedUsersIds}}
//Add [] likedUsersEmails             {{likedUsersEmailsString}}
//replace text with variables:        {{name}}
//copy shape here from create.hbs:
    //title
    //type
    //certificate
    //image
    //description
    //price


//--}}

{{!-- ? --}}
<main>
        <div class="details-container">
            <div class="details-container-image">
                <img
                    src="{{image}}">
            </div>
            <div class="details-container-info">
                <h2>Title: {{title}}</h2>
                <h3>Type: {{type}}</h3>
                <h3>Certificate: {{certificate}}</h3>
                <h3>Price: €{{price}}</h3>
                <h3>By: {{postOwner.email}}</h3>
                {{#if likedUsersUsernameString}}
                {{!--!--}}
                <h4>Signed By: {{likedUsersUsernameString}}</h4>{{!-- likedBy --}}
                {{else}}
                {{!--!--}}
                <h4>Nobody has signed in for this course yet</h4>
                {{/if}}
            </div>
            <div class="details-container-content">
                <p>{{name}}</p>
            </div>

            {{#if user}}
              <!--If there is user logged in: <div class="buttons"> -->
              <!--!-->
            <div class="btn-container">
                  {{#if isOwner}}
                    <!--If user is owner: Edit,Delete-->
                    <!--!-->
                    <!--!-->
                <a href="/items/{{_id}}/edit">Edit</a>
                <a href="/items/{{_id}}/delete">Delete</a>
                  {{else}}
                      {{#if isLiked}}
                        <!--If user liked-->
                        <!--!-->
                        <p class="sign-up">You've already signed up for this course!</p>
                      {{else}}
                        <!--If user didn't liked-->
                        <!--!-->
                      <a href="/items/{{_id}}/like">Sign up</a>
                      {{/if}}
                  {{/if}}
              <!--!-->
            </div>
            
            {{/if}}

        </div>
    </main>







{{!--//Example1--}}
{{!--//Delete later--}}
{{!-- <main>
    <section id="details-page">
        <div class="main_card">
            <div class="card_left">
                <div class="card_datails">

                    <h1>Name: {{name}}</h1>
                    <h3>Created by an author: {{itemOwner.firstName}} {{itemOwner.lastName}}</h3>
                    <div class="card_character">
                        <p class="card-species">Species: {{species}}</p>
                        <p class="card-skin">Skin colour: {{skinColor}}</p>
                        <p class="card-eye">Eye Colour: {{eyeColor}}</p>
                    </div>
                    <p class="disc">Description: {{description}}</p>

                    <!-- If there is no registered user, do not display buttons-->
                    {{#if user}}
                    <div class="social-btn">
                        <!-- Only for registered user and author of the post -->
                        {{#if isOwner}}
                        <a href="/creatures/{{_id}}/edit" class="edit-btn">Edit</a>
                        <a href="/creatures/{{_id}}/delete" class="del-btn">Delete</a>
                        {{else}}
                        {{#if isVoted}}
                        <!-- logged in user who has already voted-->
                        <p class="thanks-for-vote">Thanks For Voting</p>
                        {{else}}
                        <!-- logged in users, who have not yet voted-->
                        <a href="/creatures/{{_id}}/voted" class="vote-up">Vote</a>
                        {{/if}}
                        {{/if}}
                    </div>
                    {{/if}}

                </div>
            </div>
            <div class="card_right">
                <img src="{{image}}" alt="image">
            </div>
        </div>
    </section>

    <section id="votes"> 
        <div class="vote-info">
            <div class="card_left">
                <div class="card_datails">
                    <h1>Votes</h1>
                    <div class="card_vote">
                        <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                        <p class="PV">Total rating of votes: {{likesCount}}</p>
                    </div>

                    <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
                    <!-- <p class="disc">People who voted for the post - alex@gmai.com, petar@gmail.com, petq@gmail.com</p>-->

                    {{#if emails}}
                    <!-- If not display: -->
                    <p class="disc">People who voted for the post - {{emails}}</p>

                    {{else}}
                    <p class="disc">People who voted for the post - No one has voted yet.</p>

                    {{/if}}
                </div>
            </div>
        </div>
    </section>
</main> --}}