

{{!-- Ctrl+Shift+F
//details: details_hbs, hb_if_else
//copy/paste the main or the section html here:

//fix href="#" :                      href="/items/{{_id}}/edit"
//fix href="#" :                      href="/items/{{_id}}/delete"
//fix href="#" :                      href="/items/{{_id}}/like"
//replace src with image shape:       src="{{image}}"
//replace text with variables:        {{name}}

//Add likes count:                    {{likesCount}}
//Add the postOwner email:            {{postOwner.email}}
//Add the postOwner username:         {{postOwner.username}}

//Add array[] likersUsersUsernames ","   {{likedUsersUsernamesString}}
//Add array[] likersUsersEmails ","      {{likedUsersEmailsString}}
//copy shape here from create.hbs:



//--}}



{{!--//Example1--}}
{{!--//Delete later--}}
<main>
    <section id="details-page">
        <div class="main_card">
            <div class="card_left">
                <div class="card_datails">

                    <h1>Name: {{name}}</h1>
                    <h3>Created by an author:  {{postOwner.firstName}} {{postOwner.lastName}}</h3>
                    <div class="card_character">
                        <p class="card-species">Species: {{species}}</p>
                        <p class="card-skin">Skin colour: {{skinColor}}</p>
                        <p class="card-eye">Eye Colour: {{eyeColor}}</p>
                    </div>
                    <p class="disc">Description: {{description}}</p>

                    {{#if user}}
                      <!--If there is user logged in: <div class="buttons"> -->
                      <!--!-->
                      <div class="social-btn">
                          {{#if isOwner}}
                            <!--If user is owner: Edit,Delete-->
                            <!--!-->
                            <!--!-->
                            <a href="/items/{{_id}}/edit" class="edit-btn">Edit</a>
                            <a href="/items/{{_id}}/delete" class="del-btn">Delete</a>
                          {{else}}
                              {{#if isLiked}}
                                <!--If user liked-->
                                <!--!-->
                                <p class="thanks-for-vote">Thanks For Voting</p>
                              {{else}}
                                <!--If user didn't liked-->
                                <!--!-->
                                <a href="/items/{{_id}}/like" class="vote-up">Vote</a>
                              {{/if}}
                          {{/if}}
                      <!-- </div> -->
                      <!--!-->
                    </div>                 
                    {{/if}}

                </div>
            </div>
            <div class="card_right">
                <img src="{{image}}"
                    alt="image">
            </div>
        </div>
    </section>

    <section id="votes">
        <div class="vote-info">
            <div class="card_left">
                <div class="card_datails">
                    <h1>Votes</h1>
                    <div class="card_vote">
                        <p class="PV">Total rating of votes: {{likesCount}}</p>
                    </div>

                    {{#if likedUsersEmailsString}}
                    <p class="disc">People who voted for the post - {{likedUsersEmailsString}}</p>{{!--likers emails array[] separated by ','--}}
                    {{else}}
                    <p class="disc">People who voted for the post - No one has voted yet.</p> 
                    {{/if}} 

                </div>
            </div>
        </div>
    </section>
</main>