

{{!-- 
//edit
//copy/paste the main or the section html here:

//add into the html:                       action="/items/{{_id}}/edit" method="POST"
//add into the html:                       name="" like                = for="" and  id=""
//replace text with variables:             value="{{name}}"
//replace text with variables:             {{name}}
//copy shape here from create.hbs:



//--}}

<section class="edit-form-container">
    <form action="">
        <h3>Edit Book Review</h3>
        <label>Title</label>
        <input type="text" name="" class="box" value="Harry Potter and the Philosopher's Stone" id="">
        <label>Author</label>
        <input type="text" name="" class="box" value="JK Rowling" id="">
        <label>Genre</label>
        <input type="text" name="" class="box" value="Fantasy" id="">
        <label>Stars</label>
        <input type="number" name="" class="box" value="5" id="">
        <label>Image</label>
        <input type="text" name="" class="box" value="http:..." id="">
        <label>Review</label>
        <textarea class="box"
            name="">Harry Potter and the Philosopher's Stone is one of my favourite books in the Harry Potter series. Reading this book has made me crazy about Harry Potter and 
I wish to be one among the magical community. I can't imagine how thrilled I would be if I get a letter from Dumbledore saying that I am admitted to 
Hogwarts!!!!!!!</textarea>
        <input type="submit" value="Edit" class="btn">
    </form>
</section>







{{!--//Example1--}}
{{!--//Delete later--}}
<main id="edit">
 <section id="editPage">
    <form id='editForm' action="/items/{{_id}}/edit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{name}}">

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="{{type}}">

        <label for="production">Year of Production:</label>
        <input type="number" id="production" name="production" value="{{production}}">

        <label for="exploitation">Years of Exploitation:</label>
        <input type="number" id="exploitation" name="exploitation" value="{{exploitation}}">

        <label for="damages">Damages:</label>
        <input type="text" id="demages" name="damage"
            value="{{damages}}">

        <label for="image">Image:</label>
        <input type="text" id="image" name="image"
            value="{{image}}">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{price}}">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"
            value="{{description}}">

        <input type="submit" class="edit" value="Edit Offer">
    </form>
 </section>
</main>