

{{!-- Ctrl+Shift+F
//details: details_hbs, hb_if_else
//copy/paste the main or the section html here:

//fix href="#" :                      href="/items/{{_id}}/edit"
//fix href="#" :                      href="/items/{{_id}}/delete"
//fix href="#" :                      href="/items/{{_id}}/like"
//replace src with image shape:       src="{{image}}"
//Add likes count:                    {{likesCount}}
//Add the postOwner email:            {{postOwner.email}}
//Add the postOwner username:         {{postOwner.username}}

//Add [] likedUsersUsernames          {{likedUsersUsernamesString}}
//Add [] likedUsersIds                {{likedUsersIds}}
//Add [] likedUsersEmails             {{likedUsersEmailsString}}
//replace text with variables:        {{name}}
//copy shape here from create.hbs:
//name 
//image 
//age 
//description
//location

//--}}

<main>
    <div class="container">
        <div class="col-9">

            <!-- Start Pet Photo Post Section -->
            <div class="card">
                <div class="top">

                    <!-- Start User Details and Image Location Section -->
                    <div class="userDetails">

                        <!-- Link to User Profile Details Page-->
                        <div>
                            <div class="profilepic">
                                <div class="profile_img">
                                    <div class="image">
                                        <img src="/static/images/person.png" alt="img8">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3>
                            <p> {{item.owner.username}} </p>

                            <span>{{item.location}}</span>

                            {{#if isOwner}}
                            <div class="edit-delete-btns">

                                <!-- Edit Pet Photo -->
                                <a href="/photos/{{item._id}}/edit">
                                    <img class="edit-img" src="/static/images/edit-pen-icon-6.jpg" alt="edit button">
                                </a>

                                <!--Delete Pet Photo -->
                                <a href="/photos/{{item._id}}/delete">
                                    <img class="bin-img" src="/static/images/icon-remove-22.jpg" alt="bin button">
                                </a>
                            </div>
                            {{/if}}

                        </h3>
                    </div>

                </div>

                <!-- Start Pet Photo -->
                <div class="imgBx">

                    <img src="{{item.image}}" alt="post" class="cover">
                </div>



                <div class="bottom">

                    <p class="message">
                        <b class="petDescription">{{item.description}}</b>
                    </p>


                    <!-- Photo description -->
                    <div class="pet-details">
                        <p class="petName">Name: {{item.name}}</p>
                        <p class="petAge">Age: {{item.age}}</p>
                    </div>


                    <div class="comments">
                        <div class="comments-top">
                            {{#each item.comments}}{{!--?--}}
                            {{>comment-card}}
                            {{/each}}

                        </div>
                    </div>


                </div>
                {{#if isAuthenticated}}{{!--isAuth?--}}
                {{#unless isOwner}}
                <div class="addComments">

                    <form method="POST" action="/photos/{{item._id}}/commnets">
                        <textarea id="comment-textarea" name="message" cols="40" rows="10"
                            placeholder="Add comment..."></textarea>

                        <button type="submit">Post</button>
                    </form>
                </div>
                {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</main>