

{{!-- Ctrl+Shift+F
//edit
//copy/paste the main or the section html here:

//add in </form>                           action="/items/{{_id}}/edit" method="POST"
//add into the html:                       name="" like                = for="" and  id=""
//replace text with variables:             value="{{name}}"
//replace text with variables:             {{name}}
//copy shape here from create.hbs:
//name 
//image 
//age 
//description
//location


//--}}

<main>
    <!-- Start Add Photo Section -->
    <div class="editPage">
        <h2>Edit photo</h2>
        <!-- Start Add Photo Form -->
        <form action="">
            <p>
                <input type="text" name="" placeholder="Name" value="Sal">
            </p>
            <p>
                <input type="number" name="" placeholder="Age" value="4">
            </p>
            <p>
                <textarea type="text" name="" placeholder="Description">This is my pet!</textarea>
            </p>
            <p>
                <input type="text" name="" placeholder="Location" value="Bansko, Bulgaria">
            </p>
            <p>
                <input type="text" name="" placeholder="Link to image" value="/static/images/axolotl.jpeg">
            </p>
            <!-- Add Photo Button -->
            <button class="edit-btn" type="submit">Edit Photo</button>
        </form>
    </div>
</main>

{{!--//Example1--}}
{{!--//Delete later--}}
<main id="edit">
 <section id="editPage">
    <form id='editForm' action="/items/{{_id}}/edit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{name}}">

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="{{type}}">

        <label for="production">Year of Production:</label>
        <input type="number" id="production" name="production" value="{{production}}">

        <label for="exploitation">Years of Exploitation:</label>
        <input type="number" id="exploitation" name="exploitation" value="{{exploitation}}">

        <label for="damages">Damages:</label>
        <input type="text" id="demages" name="damage"
            value="{{damages}}">

        <label for="image">Image:</label>
        <input type="text" id="image" name="image"
            value="{{image}}">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{price}}">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"
            value="{{description}}">

        <input type="submit" class="edit" value="Edit Offer">
    </form>
 </section>
</main>