
{{!-- Delete if no home card exists --}}

{{!-- Use this card only if item-card is different --}}

{{!-- Ctrl+Shift+F
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//replace text with variables:      {{name}} (check create.hbs for shape)
//LikesCount                        {{buyingList.length}}
//copy shape here from create.hbs:



--}}



{{!--//Example1--}}
{{!--//Delete later--}}
<div class="info">
    <h2 class="title">{{title}}</h2>
    <h4 class="genre">Type: {{type}}</h4>
    <h4 class="certificate">Certificate: {{certificate}}</h4>
    <h4 class="price">Price: €{{price}}</h4>
    <div class="learn-more">
        <a href="/items/{{_id}}/details">Learn More...</a>
    </div>
</div>