



{{!-- Use this card only if item-card is different --}}

{{!-- 
//fix href="#" :                    href="/items/{{_id}}/details"
//replace src with image shape:     src="{{image}}"
//Add likes count:                  {{likesCount}}
//replace text with variables:      {{name}}
//copy shape here from create.hbs:
//title
//author
//image
//review
//genre
//stars

--}}

<div class="info-container-profile">
    <img src="{{image}}">
</div>
<div class="details-btn">
    <a href="/items/{{_id}}/details" class="details">Details</a>
</div>
